

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.app-wrapper {
    position: relative;
    min-height: 100vh;

    background-image: 
        url('/images/pattern-lines.svg'), 
        url('/images/background-desktop.png');
    
    background-position: top right, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover; 
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }